body{
    background-color: #289688;
    margin: auto;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FCEA3E;
    text-align: center;
    font-size: 100px;
}

img {
    border:solid white;
    border-width: 5px;
    display: inline-block;
    margin: 10px;
}